* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  height: 100%;
  width: 100%;
}
body{
  background-color: black;
  color: white;
  overflow: hidden;
}
.loader{
  width: 100vw;
  height: 100vh;
  position: fixed;
  inset: 0;
  z-index: 9999;
}

.home {
  width: 100%;
  min-height: 100vh;
}